<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UsingClosureProtocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEF6D54D1D8E779200E10902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF6D5611D8E779200E10902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF6D56C1D8E779200E10902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
